{% extends 'login/base.html' %}
{% load static %}


{% block content %}
    <div class="row">
    <div class="col">
    <form class="form-signin" action="/user/signin" method="post" role="form">
      <img class="mb-4" src="{% static 'bootstrap-solid.svg' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputUser" class="sr-only">User Name</label>
      <input id="inputUser" class="form-control" placeholder="User Name" name="user" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </form>
    </div>
    </div>
{% endblock %}
