{% extends 'login/base.html' %}

{% block content %}
    {% if not msg %}
        <div class="alert alert-info" role="alert">
            Profile Info
        </div>
    {% endif %}
    {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
    {% endif %}
    {% if user_profile %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">{{ user_profile.user.username }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Email</th>
                <td>{{ user_profile.email }}</td>
            </tr>
            <tr>
                <th scope="row">Gender</th>
                <td>{{ user_profile.gender }}</td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>{{ user_profile.address }}</td>
            </tr>
            <tr>
                <th scope="row">Phone Number</th>
                <td>{{ user_profile.phone_number }}</td>
            </tr>
            </tbody>
        </table>

        {% if own %}
            <a class="button btn btn-primary" href="/user/profile_edit">Edit</a>
        {% endif %}
        {% if not own %}
            {% if isfollows %}
                <a class="button btn btn-primary" href="/user/unfollow?user={{ user_profile.user.username }}">UnFollow</a>
            {% endif %}

            {% if not isfollows %}
                <a class="button btn btn-primary" href="/user/follow?user={{ user_profile.user.username }}">Follow</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}