{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'book.png' %}">

    <title>Bookie</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'album.css' %}" rel="stylesheet">
    {#    <link href="{% static 'offcanvas.css' %}" rel="stylesheet">#}
</head>
<body>

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">A personal book sharing system.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://www.github.com/sushobhana/bookie" class="text-white">Fork us on Github</a>
                        </li>
                        <li><a href="" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <li class="nav-item dropdown">
                <a class="navbar-brand d-flex align-items-center dropdown-toggle" href="#"
                   id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <img src="{% static 'user_signin.png' %}" class="mr-1"></img>
                    <strong>{{ user }}</strong>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/user/profile">Profile</a>
                    <a class="dropdown-item" href="/user/signout">Log out</a>
                    <a class="dropdown-item" href="/user/signin">Change user</a>
                    <a class="dropdown-item" href="/user/register">Sign up</a>

                </div>
            </li>
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="{% static 'book.png' %}" class="mr-1"></img>
                <strong>Bookie</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="nav-scroller bg-white shadow-sm">
        <nav class="nav nav-underline">
            {#            <a class="nav-link active" href="#">Dashboard</a>#}
            <a class="nav-link" href="/user/friends">
                Friends
                <span class="badge badge-pill bg-light align-text-bottom">{{ fno }}</span>
            </a>
            {#            <a class="nav-link" href="#">Explore</a>#}
            <a class="nav-link" href="/requests">Requests</a>
            <a class="nav-link" href="/add">Add Book</a>
            <a class="nav-link" href="/mybooks">My Books</a>

            <form class="form-inline mt-2 mt-md-0" method="get" action="/user/profile">
                <input class="form-control mr-sm-2" type="text" placeholder="Search user" aria-label="Search"
                       name="user">
                <button class="btn btn-outline-success my-2 my-sm-1" type="submit">Search User</button>
            </form>
            {#            <a class="nav-link" href="#">Link</a>#}
            {#            <a class="nav-link" href="#">Link</a>#}
            {#            <a class="nav-link" href="#">Link</a>#}
            {#            <a class="nav-link" href="#">Link</a>#}
        </nav>
    </div>


</header>


<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            {#            <h1 class="jumbotron-heading">Bookie Search</h1></div>#}
            {#            <p class="lead text-muted text-center bold">Search book information</p>#}
            <img class="mb-4" src="{% static 'search.png' %}" alt="" width="100" height="100">

            <form method="get" action="/search">
                <input class="form-control input-group-lg text-center" type="search"
                       placeholder="Search Books by title, author, tags" aria-label="Search" name="query">
                <button class="btn btn-success my-4 my-sm-4 " type="submit">Search</button>
            </form>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p> Bookie &copy; <strong>HackOverflow</strong></p>
        <p> Powered by Bootstrap and django </p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-slim.min.js' %}"><\/script>')</script>
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/holder.min.js' %}"></script>
{#<script src="{% static 'offcanvas.js' %}"></script>#}
</body>
</html>
